.Button {
    font-weight: 500;
    font-size: 1.2rem;
    text-align: center;
    display: flex;
    padding: 0.3rem 0.8rem;
    align-items: flex-start;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 0.3rem;
    max-height: 2.4rem;
}

.additional__icon {
    display: flex;
    /* align-items: center; */
    align-items: center;
    margin-right: 0.5rem;
}